.service-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    height: 500px;
    align-items: center;
}
.service-name{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.service-price{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tk{
    color: black;
}
.service-des{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.checkout-button{
    background-color: rgb(215, 15, 100);
    color: white;
}
